:root {
    font-size: 62.5% !important;
    --light-dark: #444444;
    --dark: #171717;
    --grey: #c4c4c4;
    --light: #ededed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif !important;
}
a {
    text-decoration: none;
    color: var(--dark);
}

.row {
    --bs-gutter-x: 0;
}
/* Header */
.header-content {
    background-color: var(--light);
}
.navbar-brand {
    font-size: 3rem;
    font-weight: 600;
}
.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}
.navbar-collapse {
    justify-content: space-between;
    padding-left: 5rem;
}
.cart {
    font-size: 1.6rem;
    color: var(--grey);
}


/* carousel */
.carousel-cell {
    height: 25rem;
    background-color: var(--grey);
    position: relative;
}

.flickity-page-dots {
    display: none;
}
.carousel-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.8rem;
    font-weight: 400;
    z-index: 10;
}
/* Banner */
.banner-img {
    width: 70%;
}
.banner-text {
    font-size: 2.5rem;
    font-weight: 600;
}
.banner-btn {
    font-size: 1.8rem;
    border-bottom: 0.1rem solid var(--dark);
}

/* Featured */
.section-heading  {
    font-size: 2.5rem;
    font-weight: 600;
}
.section-hr {
    width: 10rem;
    padding: 0.2rem;
    border-radius: 10%;
    color: var(--dark);
}
.featured-item  {
    width: 20rem;
    height: 20rem;
}
.featured-img {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
}

/* Newsletter */
#newsletter {
    background-color: var(--light-dark);
    color: var(--light);
    padding: 4rem 0;
}
.newsletter-btn {
    font-size: 1.5rem;
    background-color: var(--dark);
    color: var(--grey);
}
.form-control {
    font-size: 1.5rem;
}
.newsletter-btn:hover{
    color: var(--grey);
    background-color: var(--dark);
}

/* main */
#main {
    width: 100%;
    height: 100vh;
}
.leftBar {
    background-color: var(--dark);
    height: 100vh;
}
.rightBar {
    height: 100vh;
    overflow-y: auto;
}
.logo {
    padding: 6rem 2rem;
}
.brand-name {
    color: var(--light);
    font-weight: 600;
}
.menu-item {
    display: block;
    font-size: 2rem;
    color: var(--light);
    background-color: var(--light-dark);
}
.menu-item:hover {
    background-color: var(--grey);
    color: var(--dark);
}
.menu-footer__icon {
    font-size: 2rem;
    color: var(--grey);
}
.menu-footer__text {
    font-size: 2rem;
    color: var(--grey);
}
.main-content__item {
    width: 30%;
    height: 25rem;
    background-color: var(--grey);
    color: var(--dark);
}


/* Footer */
.footer-para {
    font-size: 1.4rem;
}
.footer-heading {
    font-size: 2rem;
    font-weight: 600;
}
.footer-list {
    list-style-type: none;
}